.charact-img {
	.image-wrap {
		padding-top: 40px;
	}
	@media only screen and (max-width:760px) {
		.image-wrap {
			float:none !important;
			margin: 0 20px !important;
			text-align: center !important;
			display: block !important;
		}
		.image-content {
			text-align: left !important;
		}
	}
}

.timeline {
	.timeline-content-wrap {
		width: 60%;
	}
	.timeline-date {
		width: 25%;
	}
	.timeline-dot {
		left: 30.7%;
	}
	ul {
		&:before {
			left: 32%;
		}
	}
}

.inforgraphic-row {
	position: relative;
	clear: both;
	.infographic {
		text-align: center;
		padding: 0 20px;
		img {
		}
	}

	@media only screen and (min-width: 700px) {
		h3,
		.infographic {
			width: 45%;
		}
		h3 {
			float: left;
		}
		.infographic {
			float: right;
		}
	}
	@media only screen and (min-width: 960px) {
		h3 {
			width: 60%;
		}
		.infographic {
			width: 33%;
		}
	}
}

.team.loops-wrapper.list-post .team-content-wrap {
	width: 100%;
}